.Home-Page {
  width: 100%;
  min-height: 91.5vh;
  max-height: auto;
}

.homeimg {
  width: 800px;
  height: auto;
  border-radius: 20px;
  opacity: 0.5;
}

.viewBook {
  text-decoration: none;
}

.viewBook:hover {
  color: gray;
}
